.courses ol li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* border: 2px solid rgb(54, 52, 52); */
    color:rgb(177, 177, 239);
    display: flex;
    justify-content: center;
    text-align: center;
     margin: 14px 279px;
    padding: 1px 2px ;
}